.square {
  width: 12.5%;
  height: 12.5%;
  flex-shrink: 0;
}

.piece {
  background-size: 100%;
}

.bb {
  background-image: url('/public/pieces/bishop-b.svg');
}

.wb {
  background-image: url('/public/pieces/bishop-w.svg');
}

.bk {
  background-image: url('/public/pieces/king-b.svg');
}

.wk {
  background-image: url('/public/pieces/king-w.svg');
}

.bn {
  background-image: url('/public/pieces/knight-b.svg');
}

.wn {
  background-image: url('/public/pieces/knight-w.svg');
}

.bp {
  background-image: url('/public/pieces/pawn-b.svg');
}

.wp {
  background-image: url('/public/pieces/pawn-w.svg');
}

.bq {
  background-image: url('/public/pieces/queen-b.svg');
}

.wq {
  background-image: url('/public/pieces/queen-w.svg');
}

.br {
  background-image: url('/public/pieces/rook-b.svg');
}

.wr {
  background-image: url('/public/pieces/rook-w.svg');
}
